* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #000f08;
}
.container {
  margin: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tempo h1 {
  font-size: 5em;
  padding: 5px;
  color: #eb8a01;
}
.acoes {
  padding: 10px;
  display: flex;
  gap: 30px;
}
.acoes button {
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  color: white;
}
.btn-iniciar {
  background-color: #4d8b31;
}
.btn-iniciar:hover {
  background-color: #396424;
}
.btn-parar {
  background-color: #95190c;
}
.btn-parar:hover {
  background-color: #6d140a;
}
.btn-pausar {
  background-color: #00619e;
}
.btn-pausar:hover {
  background-color: #025183;
}
.btn-pausar,
.btn-parar,
.btn-iniciar {
  cursor: pointer;
}
